{
  "openapi": "3.0.1",
  "info": {
    "title": "AssuranceTool REST API Specification",
    "description": "Sphynx Assurance Tool",
    "termsOfService": "http://swagger.io/terms/",
    "license": {
      "name": "Apache 2.0",
      "url": "http://springdoc.org"
    }
  },
  "servers": [
    {
      "url": "https://threat-arrest.org:58443/assurancetool",
      "description": "Generated server url"
    }
  ],
  "security": [
    {
      "bearer-jwt": [
        "read",
        "write"
      ]
    }
  ],
  "paths": {
    "/rest/api/grammar/training-scenarios/{trainingScenarioId}": {
      "post": {
        "tags": [
          "cttp-language-base-listener-impl"
        ],
        "summary": "Batch insert of assets based on the assurance grammar",
        "operationId": "parseGrammar",
        "parameters": [
          {
            "name": "trainingScenarioId",
            "in": "path",
            "required": true,
            "schema": {
              "minimum": 0,
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Assets inserted",
            "content": {
              "application/json": {}
            }
          },
          "400": {
            "description": "No attached file"
          },
          "500": {
            "description": "Internal Server error"
          }
        }
      }
    },
    "/rest/api/status-types": {
      "get": {
        "tags": [
          "main-gui-controller"
        ],
        "summary": "Get the status types",
        "operationId": "getSoftwareStatus",
        "responses": {
          "200": {
            "description": "Status types retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusType"
                }
              }
            }
          },
          "404": {
            "description": "No status types found"
          },
          "500": {
            "description": "Internal Server error"
          }
        }
      }
    },
    "/rest/api/status-types/{statusId}": {
      "get": {
        "tags": [
          "main-gui-controller"
        ],
        "summary": "Get a status type by its id",
        "operationId": "getSoftwareStatus_1",
        "parameters": [
          {
            "name": "statusId",
            "in": "path",
            "required": true,
            "schema": {
              "minimum": 0,
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Status type retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusType"
                }
              }
            }
          },
          "404": {
            "description": "No status type found"
          },
          "500": {
            "description": "Internal Server error"
          }
        }
      }
    },
    "/rest/api/adaptation/alerts/min/{min}/max/{max}": {
      "get": {
        "tags": [
          "alert-controller"
        ],
        "summary": "Get all alerts",
        "operationId": "getAlerts",
        "parameters": [
          {
            "name": "min",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "max",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Alerts retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Alert"
                }
              }
            }
          },
          "404": {
            "description": "No alerts found"
          },
          "500": {
            "description": "Internal Server error"
          }
        }
      }
    },
    "/rest/api/adaptation/alerts": {
      "put": {
        "tags": [
          "alert-controller"
        ],
        "summary": "Update alert if resolved",
        "operationId": "updatedResolvedAlert",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Alert"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Alert updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Alert"
                }
              }
            }
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal Server error"
          }
        }
      }
    },
    "/rest/api/adaptation/alerts/resolved/min/{min}/max/{max}": {
      "get": {
        "tags": [
          "alert-controller"
        ],
        "summary": "Get all resolved alerts",
        "operationId": "getResolvedAlerts",
        "parameters": [
          {
            "name": "min",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "max",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Alerts retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Alert"
                }
              }
            }
          },
          "404": {
            "description": "No alerts found"
          },
          "500": {
            "description": "Internal Server error"
          }
        }
      }
    },
    "/rest/api/adaptation/alerts/unresolved/min/{min}/max/{max}": {
      "get": {
        "tags": [
          "alert-controller"
        ],
        "summary": "Get all unresolved alerts",
        "operationId": "getUnresolvedAlerts",
        "parameters": [
          {
            "name": "min",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "max",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Alerts retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Alert"
                }
              }
            }
          },
          "404": {
            "description": "No alerts found"
          },
          "500": {
            "description": "Internal Server error"
          }
        }
      }
    },
    "/rest/api/adaptation/notifications": {
      "put": {
        "tags": [
          "notification-controller"
        ],
        "summary": "Update notification if read",
        "operationId": "updateReadNotification",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Notification"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Notifications retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Notification"
                }
              }
            }
          },
          "404": {
            "description": "No Notifications found"
          },
          "500": {
            "description": "Internal Server error"
          }
        }
      }
    },
    "/rest/api/adaptation/notifications/read/min/{min}/max/{max}": {
      "get": {
        "tags": [
          "notification-controller"
        ],
        "summary": "Get all read notifications",
        "operationId": "getReadNotifications",
        "parameters": [
          {
            "name": "min",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "max",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Notification retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Notification"
                }
              }
            }
          },
          "404": {
            "description": "No Notification found"
          },
          "500": {
            "description": "Internal Server error"
          }
        }
      }
    },
    "/rest/api/adaptation/notifications/unresolved/min/{min}/max/{max}": {
      "get": {
        "tags": [
          "notification-controller"
        ],
        "summary": "Get all unread notifications",
        "operationId": "getUnreadNotifications",
        "parameters": [
          {
            "name": "min",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "max",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Notification retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Notification"
                }
              }
            }
          },
          "404": {
            "description": "No Notification found"
          },
          "500": {
            "description": "Internal Server error"
          }
        }
      }
    },
    "/rest/api/adaptation/notifications/min/{min}/max/{max}": {
      "get": {
        "tags": [
          "notification-controller"
        ],
        "summary": "Get all notifications",
        "operationId": "getNotifications",
        "parameters": [
          {
            "name": "min",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "max",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Notifications retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Notification"
                }
              }
            }
          },
          "404": {
            "description": "No Notifications found"
          },
          "500": {
            "description": "Internal Server error"
          }
        }
      }
    },
    "/rest/api/assessments/types/{typeId}": {
      "get": {
        "tags": [
          "assessment-rest-controller"
        ],
        "summary": "Get an assessment type by its id",
        "operationId": "searchTypesPerID",
        "parameters": [
          {
            "name": "typeId",
            "in": "path",
            "required": true,
            "schema": {
              "minimum": 0,
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Assessment Type found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AssessmentType"
                }
              }
            }
          },
          "404": {
            "description": "Assessment type not found"
          },
          "500": {
            "description": "Internal Server error"
          }
        }
      }
    },
    "/rest/api/assessments/monitoring": {
      "get": {
        "tags": [
          "assessment-rest-controller"
        ],
        "summary": "Get all monitoring assessment results",
        "operationId": "getMonitoringAssessment",
        "responses": {
          "200": {
            "description": "Monitoring assessment results found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MonitoringAssessmentResult"
                }
              }
            }
          },
          "204": {
            "description": "Collection is empty"
          },
          "404": {
            "description": "No monitoring assessment results found"
          },
          "500": {
            "description": "Internal Server error"
          }
        }
      }
    },
    "/rest/api/assessments/monitoring/training-scenarios": {
      "get": {
        "tags": [
          "assessment-rest-controller"
        ],
        "summary": "Get monitoring assessment results per trainingScenarioId",
        "operationId": "getMonitoringAssessmentByPID",
        "parameters": [
          {
            "name": "tsId",
            "in": "query",
            "required": true,
            "schema": {
              "minimum": 0,
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Monitoring assessment results found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MonitoringAssessmentResult"
                }
              }
            }
          },
          "204": {
            "description": "Collection is empty"
          },
          "404": {
            "description": "No monitoring assessment results found"
          },
          "500": {
            "description": "Internal Server error"
          }
        }
      }
    },
    "/rest/api/assessments/{assessmentId}/monitoring/training-scenarios": {
      "get": {
        "tags": [
          "assessment-rest-controller"
        ],
        "summary": "Get monitoring assessment results per trainingScenarioId and assessmentId",
        "operationId": "getMonitoringAssessmentByAPID",
        "parameters": [
          {
            "name": "tsId",
            "in": "query",
            "required": true,
            "schema": {
              "minimum": 0,
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "assessmentId",
            "in": "path",
            "required": true,
            "schema": {
              "minimum": 0,
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Monitoring assessment results found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MonitoringAssessmentResult"
                }
              }
            }
          },
          "204": {
            "description": "Collection is empty"
          },
          "404": {
            "description": "No monitoring assessment results found"
          },
          "500": {
            "description": "Internal Server error"
          }
        }
      }
    },
    "/rest/api/assessments/{assessmentModelExecutionId}/monitoring": {
      "get": {
        "tags": [
          "assessment-rest-controller"
        ],
        "summary": "Get monitoring assessment results assessmentModelExecutionID",
        "operationId": "getMonitoringAssessmentByID",
        "parameters": [
          {
            "name": "assessmentModelExecutionId",
            "in": "path",
            "required": true,
            "schema": {
              "minimum": 0,
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Monitoring assessment results found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MonitoringAssessmentResultsFields"
                }
              }
            }
          },
          "204": {
            "description": "Collection is empty"
          },
          "404": {
            "description": "No monitoring assessment results found"
          },
          "500": {
            "description": "Internal Server error"
          }
        }
      }
    },
    "/rest/api/assessments/results": {
      "get": {
        "tags": [
          "assessment-rest-controller"
        ],
        "summary": "Get assessment results",
        "operationId": "getAssessmentResults",
        "responses": {
          "200": {
            "description": "Assessment results found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AssessmentProfile"
                }
              }
            }
          },
          "404": {
            "description": "No assessment results found"
          },
          "500": {
            "description": "Internal Server error"
          }
        }
      }
    },
    "/rest/api/assessments/results/page/{start}/{end}": {
      "get": {
        "tags": [
          "assessment-rest-controller"
        ],
        "summary": "Get assessment results",
        "operationId": "getAssessmentResults_1",
        "parameters": [
          {
            "name": "start",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "end",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Assessment results found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AssessmentProfile"
                }
              }
            }
          },
          "404": {
            "description": "No assessment results found"
          },
          "500": {
            "description": "Internal Server error"
          }
        }
      }
    },
    "/rest/api/assessments/criteria": {
      "get": {
        "tags": [
          "assessment-rest-controller"
        ],
        "summary": "Get assessment criteria",
        "operationId": "getAssessmentCriteria",
        "responses": {
          "200": {
            "description": "Assessment criteria found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AssessmentCriterion"
                }
              }
            }
          },
          "404": {
            "description": "No assessment criteria found"
          },
          "500": {
            "description": "Internal Server error"
          }
        }
      }
    },
    "/rest/api/assessments/model-executions/{assessmentModelExecutionID}/involved-assets": {
      "get": {
        "tags": [
          "assessment-rest-controller"
        ],
        "summary": "Get the involved assets per assessment model execution ",
        "operationId": "getInvolvedAssets",
        "parameters": [
          {
            "name": "assessmentModelExecutionID",
            "in": "path",
            "required": true,
            "schema": {
              "minimum": 0,
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Assessment Model Executions found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Assets"
                }
              }
            }
          },
          "404": {
            "description": "No involved assets found"
          },
          "500": {
            "description": "Internal Server error"
          }
        }
      }
    },
    "/rest/api/assessments/execution-types/models": {
      "get": {
        "tags": [
          "assessment-rest-controller"
        ],
        "summary": "Get assessment execution types per assessmentModelId",
        "operationId": "getExecutionType",
        "parameters": [
          {
            "name": "modelId",
            "in": "query",
            "required": true,
            "schema": {
              "minimum": 0,
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Assessment profiles found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExecutionAssessmentJoin"
                }
              }
            }
          },
          "404": {
            "description": "No assessment profiles found"
          },
          "500": {
            "description": "Internal Server error"
          }
        }
      }
    },
    "/rest/api/assessments/types": {
      "get": {
        "tags": [
          "assessment-rest-controller"
        ],
        "summary": "Get all assessment types",
        "operationId": "getAssessmentModelTypes",
        "responses": {
          "200": {
            "description": "Assessment Type found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AssessmentType"
                }
              }
            }
          },
          "204": {
            "description": "Collection is empty"
          },
          "404": {
            "description": "Assessment types doesn't exist"
          },
          "500": {
            "description": "Internal Server error"
          }
        }
      }
    },
    "/rest/api/assessments/aggregated/training-scenarios": {
      "get": {
        "tags": [
          "assessment-rest-controller"
        ],
        "summary": "Get all assessments per trainingScenario",
        "operationId": "getAggregatedAssessments",
        "parameters": [
          {
            "name": "tsId",
            "in": "query",
            "required": true,
            "schema": {
              "minimum": 0,
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Assessment(s) found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SecurityAssessmentAggregated"
                }
              }
            }
          },
          "204": {
            "description": "Collection is empty"
          },
          "404": {
            "description": "Assessment doesn't exist"
          },
          "500": {
            "description": "Internal Server error"
          }
        }
      }
    },
    "/rest/api/assessments/model-executions": {
      "get": {
        "tags": [
          "assessment-rest-controller"
        ],
        "summary": "Get assessment model executions",
        "operationId": "getAssessmentModelExecutions",
        "responses": {
          "200": {
            "description": "Assessment Model Executions found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AssessmentModelExecution"
                }
              }
            }
          },
          "204": {
            "description": "Collection is empty"
          },
          "404": {
            "description": "Assessment Model Execution doesn't exist"
          },
          "500": {
            "description": "Internal Server error"
          }
        }
      }
    },
    "/rest/api/assessments/model-executions/{modelId}": {
      "get": {
        "tags": [
          "assessment-rest-controller"
        ],
        "summary": "Get assessment model execution per id",
        "operationId": "getModelExecutionsPerID",
        "parameters": [
          {
            "name": "modelId",
            "in": "path",
            "required": true,
            "schema": {
              "minimum": 0,
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Assessment Model Execution found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AssessmentModelExecution"
                }
              }
            }
          },
          "404": {
            "description": "Assessment model doesn't exist"
          },
          "500": {
            "description": "Internal Server error"
          }
        }
      }
    },
    "/rest/api/assessments/model-executions/users": {
      "get": {
        "tags": [
          "assessment-rest-controller"
        ],
        "summary": "Get assessment model executions per userId",
        "operationId": "getModelExecutionsPerUserID",
        "parameters": [
          {
            "name": "userID",
            "in": "query",
            "required": true,
            "schema": {
              "minimum": 0,
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Assessment Model Executions found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AssessmentModelExecution"
                }
              }
            }
          },
          "204": {
            "description": "Collection is empty"
          },
          "404": {
            "description": "No assessment model executions found"
          },
          "500": {
            "description": "Internal Server error"
          }
        }
      }
    },
    "/rest/api/assessments/model-executions/training-scenarios": {
      "get": {
        "tags": [
          "assessment-rest-controller"
        ],
        "summary": "Get assessment model executions per training scenario ",
        "operationId": "getModelExecutionsPerProjectID",
        "parameters": [
          {
            "name": "tsId",
            "in": "query",
            "required": true,
            "schema": {
              "minimum": 0,
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Assessment Model Executions found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AssessmentModelExecution"
                }
              }
            }
          },
          "404": {
            "description": "No assessment model executions found"
          },
          "500": {
            "description": "Internal Server error"
          }
        }
      }
    },
    "/rest/api/assessments/models": {
      "get": {
        "tags": [
          "assessment-rest-controller"
        ],
        "summary": "Get assessment models",
        "operationId": "getAssessmentModels",
        "responses": {
          "200": {
            "description": "Assessment Models found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AssessmentModelExecution"
                }
              }
            }
          },
          "204": {
            "description": "Collection is empty"
          },
          "404": {
            "description": "No assessment models found"
          },
          "500": {
            "description": "Internal Server error"
          }
        }
      }
    },
    "/rest/api/assessments/models/{modelId}": {
      "get": {
        "tags": [
          "assessment-rest-controller"
        ],
        "summary": "Get assessment model per modelId",
        "operationId": "getModelsPerID",
        "parameters": [
          {
            "name": "modelId",
            "in": "path",
            "required": true,
            "schema": {
              "minimum": 0,
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Assessment Model found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AssessmentModel"
                }
              }
            }
          },
          "404": {
            "description": "No assessment model found"
          },
          "500": {
            "description": "Internal Server error"
          }
        }
      }
    },
    "/rest/api/assessments/profiles": {
      "get": {
        "tags": [
          "assessment-rest-controller"
        ],
        "summary": "Get assessment profiles",
        "operationId": "getAssessmentProfiles",
        "responses": {
          "200": {
            "description": "Assessment profiles found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AssessmentProfile"
                }
              }
            }
          },
          "404": {
            "description": "No assessment profiles found"
          },
          "500": {
            "description": "Internal Server error"
          }
        }
      }
    },
    "/rest/api/assessments/results/training-scenarios": {
      "get": {
        "tags": [
          "assessment-rest-controller"
        ],
        "summary": "Get assessment results by trainingScenarioId",
        "operationId": "getAssessmentResultByTsID",
        "parameters": [
          {
            "name": "tsId",
            "in": "query",
            "required": true,
            "schema": {
              "minimum": 0,
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Assessment results found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AssessmentProfile"
                }
              }
            }
          },
          "404": {
            "description": "No assessment results found"
          },
          "500": {
            "description": "Internal Server error"
          }
        }
      }
    },
    "/rest/api/assessments/model-executions/{assessmentModelExecutionID}/results": {
      "get": {
        "tags": [
          "assessment-rest-controller"
        ],
        "summary": "Get assessment results by modelExecutionId",
        "operationId": "getAssessmentResultByModelExecutionID",
        "parameters": [
          {
            "name": "assessmentModelExecutionID",
            "in": "path",
            "required": true,
            "schema": {
              "minimum": 0,
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Assessment results found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AssessmentProfile"
                }
              }
            }
          },
          "404": {
            "description": "No assessment results found"
          },
          "500": {
            "description": "Internal Server error"
          }
        }
      }
    },
    "/rest/api/assessments/profiles/models": {
      "get": {
        "tags": [
          "assessment-rest-controller"
        ],
        "summary": "Get assessment profiles per assessmentModelId",
        "operationId": "getAssessmentProfilesById",
        "parameters": [
          {
            "name": "modelId",
            "in": "query",
            "required": true,
            "schema": {
              "minimum": 0,
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Assessment profiles found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AssessmentProfile"
                }
              }
            }
          },
          "404": {
            "description": "No assessment profiles found"
          },
          "500": {
            "description": "Internal Server error"
          }
        }
      }
    },
    "/rest/api/assessments/{assessmentModelExecutionId}/involved-assets": {
      "get": {
        "tags": [
          "assessment-rest-controller"
        ],
        "summary": "Get Involved assets per assessmentModelExecutionID",
        "operationId": "countInvolvedAssets",
        "parameters": [
          {
            "name": "assessmentModelExecutionId",
            "in": "path",
            "required": true,
            "schema": {
              "minimum": 0,
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Involved assets found",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/rest/api/assessments/{assessmentId}/monitoring/findings/training-scenarios": {
      "get": {
        "tags": [
          "assessment-rest-controller"
        ],
        "operationId": "countFindings",
        "parameters": [
          {
            "name": "assessmentId",
            "in": "path",
            "required": true,
            "schema": {
              "minimum": 0,
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "tsId",
            "in": "query",
            "required": true,
            "schema": {
              "minimum": 0,
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "default response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/rest/api/assessments/monitoring/fields/training-scenarios": {
      "get": {
        "tags": [
          "assessment-rest-controller"
        ],
        "summary": "Get monitoring assessment results fields",
        "operationId": "getFields",
        "parameters": [
          {
            "name": "projectId",
            "in": "query",
            "required": true,
            "schema": {
              "minimum": 0,
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Monitoring assessment results found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MonitoringAssessmentResult"
                }
              }
            }
          },
          "204": {
            "description": "Collection is empty"
          },
          "404": {
            "description": "No monitoring assessment results found"
          },
          "500": {
            "description": "Internal Server error"
          }
        }
      }
    },
    "/rest/api/assets/main-view/training-scenarios": {
      "get": {
        "tags": [
          "asset-controller"
        ],
        "summary": "Get aggregated asset information",
        "operationId": "getAssets",
        "parameters": [
          {
            "name": "trainingScenarioId",
            "in": "query",
            "required": true,
            "schema": {
              "minimum": 0,
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Assets found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Assets"
                }
              }
            }
          },
          "404": {
            "description": "Assets not found"
          },
          "500": {
            "description": "Internal Server error"
          }
        }
      }
    },
    "/rest/api/assets": {
      "get": {
        "tags": [
          "asset-controller"
        ],
        "summary": "Get all assets",
        "operationId": "getAssets_1",
        "responses": {
          "200": {
            "description": "Assets found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Asset"
                }
              }
            }
          },
          "404": {
            "description": "Assets not found"
          },
          "500": {
            "description": "Internal Server error"
          }
        }
      }
    },
    "/rest/api/assets/{assetID}": {
      "get": {
        "tags": [
          "asset-controller"
        ],
        "summary": "Get an asset by assetId",
        "operationId": "getAssetByAssetID",
        "parameters": [
          {
            "name": "assetID",
            "in": "path",
            "required": true,
            "schema": {
              "minimum": 0,
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Asset found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Asset"
                }
              }
            }
          },
          "404": {
            "description": "Asset not found"
          },
          "500": {
            "description": "Internal Server error"
          }
        }
      }
    },
    "/rest/api/assets/training-scenarios": {
      "get": {
        "tags": [
          "asset-controller"
        ],
        "summary": "Get all assets by training scenario",
        "operationId": "getAssetByTrainingScenarioID",
        "parameters": [
          {
            "name": "trainingScenarioId",
            "in": "query",
            "required": true,
            "schema": {
              "minimum": 0,
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Assets found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Asset"
                }
              }
            }
          },
          "404": {
            "description": "Assets not found"
          },
          "500": {
            "description": "Internal Server error"
          }
        }
      }
    },
    "/rest/api/assets/main/training-scenarios": {
      "get": {
        "tags": [
          "asset-controller"
        ],
        "summary": "Get all assets by training  (new)",
        "operationId": "getAssetByTrainingScenarioIDNew",
        "parameters": [
          {
            "name": "trainingScenarioId",
            "in": "query",
            "required": true,
            "schema": {
              "minimum": 0,
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Assets found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Asset"
                }
              }
            }
          },
          "404": {
            "description": "Assets not found"
          },
          "500": {
            "description": "Internal Server error"
          }
        }
      }
    },
    "/rest/api/assets/{assetId}/training-scenarios": {
      "get": {
        "tags": [
          "asset-controller"
        ],
        "summary": "Get all assets by training scenario except self",
        "operationId": "getAssetByTrainingScenarioIDExceptSelf",
        "parameters": [
          {
            "name": "assetId",
            "in": "path",
            "required": true,
            "schema": {
              "minimum": 0,
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "trainingScenarioId",
            "in": "query",
            "required": true,
            "schema": {
              "minimum": 0,
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Assets found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Asset"
                }
              }
            }
          },
          "404": {
            "description": "Assets not found"
          },
          "500": {
            "description": "Internal Server error"
          }
        }
      }
    },
    "/rest/api/assets/{assetId}/name": {
      "get": {
        "tags": [
          "asset-controller"
        ],
        "summary": "Get asset's name",
        "operationId": "getAssetNames",
        "parameters": [
          {
            "name": "assetId",
            "in": "path",
            "required": true,
            "schema": {
              "minimum": 0,
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Asset found",
            "content": {
              "text/html; charset=utf-8": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "Assets not found"
          },
          "500": {
            "description": "Internal Server error"
          }
        }
      }
    },
    "/rest/api/assets/types": {
      "get": {
        "tags": [
          "asset-controller"
        ],
        "summary": "Get all asset types",
        "operationId": "getAssetTypes",
        "responses": {
          "200": {
            "description": "Asset types found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AssetType"
                }
              }
            }
          },
          "404": {
            "description": "Asset types not found"
          },
          "500": {
            "description": "Internal Server error"
          }
        }
      }
    },
    "/rest/api/assets/{assetId}/types": {
      "get": {
        "tags": [
          "asset-controller"
        ],
        "summary": "Get asset type by assetId",
        "operationId": "getTypeByAssetID",
        "parameters": [
          {
            "name": "assetId",
            "in": "path",
            "required": true,
            "schema": {
              "minimum": 0,
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Asset type found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AssetType"
                }
              }
            }
          },
          "404": {
            "description": "Asset type not found"
          },
          "500": {
            "description": "Internal Server error"
          }
        }
      }
    },
    "/rest/api/assets/aggregated/training-scenarios": {
      "get": {
        "tags": [
          "asset-controller"
        ],
        "summary": "Get aggregated information for the Asset class",
        "operationId": "getAggregated",
        "parameters": [
          {
            "name": "trainingScenarioId",
            "in": "query",
            "required": true,
            "schema": {
              "minimum": 0,
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Assets found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AssetAggregated"
                }
              }
            }
          },
          "404": {
            "description": "Assets not found"
          },
          "500": {
            "description": "Internal Server error"
          }
        }
      }
    },
    "/rest/api/assets/supports": {
      "delete": {
        "tags": [
          "asset-controller"
        ],
        "summary": "Delete a support relation",
        "operationId": "removeSupport",
        "parameters": [
          {
            "name": "supportId",
            "in": "query",
            "required": true,
            "schema": {
              "minimum": 0,
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Support relation deleted",
            "content": {
              "application/json": {}
            }
          },
          "500": {
            "description": "Internal Server error"
          }
        }
      }
    },
    "/rest/api/assets/involves": {
      "delete": {
        "tags": [
          "asset-controller"
        ],
        "summary": "Delete an involves relation",
        "operationId": "removeInvolves",
        "parameters": [
          {
            "name": "involvesId",
            "in": "query",
            "required": true,
            "schema": {
              "minimum": 0,
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Involves relation deleted",
            "content": {
              "application/json": {}
            }
          },
          "500": {
            "description": "Internal Server error"
          }
        }
      }
    },
    "/rest/api/assets/depends": {
      "delete": {
        "tags": [
          "asset-controller"
        ],
        "summary": "Delete a depends relation",
        "operationId": "removeDepends",
        "parameters": [
          {
            "name": "dependId",
            "in": "query",
            "required": true,
            "schema": {
              "minimum": 0,
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Support relation deleted",
            "content": {
              "application/json": {}
            }
          },
          "500": {
            "description": "Internal Server error"
          }
        }
      }
    },
    "/rest/api/assets/containment": {
      "delete": {
        "tags": [
          "asset-controller"
        ],
        "summary": "Delete a containment relation",
        "operationId": "removeContainment",
        "parameters": [
          {
            "name": "containmentId",
            "in": "query",
            "required": true,
            "schema": {
              "minimum": 0,
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Containment relation deleted",
            "content": {
              "application/json": {}
            }
          },
          "500": {
            "description": "Internal Server error"
          }
        }
      }
    },
    "/rest/api/assets/control": {
      "delete": {
        "tags": [
          "asset-controller"
        ],
        "summary": "Delete a control relation",
        "operationId": "removeControls",
        "parameters": [
          {
            "name": "controlsId",
            "in": "query",
            "required": true,
            "schema": {
              "minimum": 0,
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Control relation deleted",
            "content": {
              "application/json": {}
            }
          },
          "500": {
            "description": "Internal Server error"
          }
        }
      }
    },
    "/rest/api/assets/transmit": {
      "delete": {
        "tags": [
          "asset-controller"
        ],
        "summary": "Delete a transmit relation",
        "operationId": "removeTransmits",
        "parameters": [
          {
            "name": "transmitsId",
            "in": "query",
            "required": true,
            "schema": {
              "minimum": 0,
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Transmit relation deleted",
            "content": {
              "application/json": {}
            }
          },
          "500": {
            "description": "Internal Server error"
          }
        }
      }
    },
    "/rest/api/assets/process": {
      "delete": {
        "tags": [
          "asset-controller"
        ],
        "summary": "Delete a process relation",
        "operationId": "removeProcesses",
        "parameters": [
          {
            "name": "processesId",
            "in": "query",
            "required": true,
            "schema": {
              "minimum": 0,
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Process relation deleted",
            "content": {
              "application/json": {}
            }
          },
          "500": {
            "description": "Internal Server error"
          }
        }
      }
    },
    "/rest/api/assets/store": {
      "delete": {
        "tags": [
          "asset-controller"
        ],
        "summary": "Delete a store relation",
        "operationId": "removeStores",
        "parameters": [
          {
            "name": "storesId",
            "in": "query",
            "required": true,
            "schema": {
              "minimum": 0,
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Store relation deleted",
            "content": {
              "application/json": {}
            }
          },
          "500": {
            "description": "Internal Server error"
          }
        }
      }
    },
    "/rest/api/assets/deploy": {
      "delete": {
        "tags": [
          "asset-controller"
        ],
        "summary": "Delete a deploy relation",
        "operationId": "removeDeploys",
        "parameters": [
          {
            "name": "deployId",
            "in": "query",
            "required": true,
            "schema": {
              "minimum": 0,
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deploy relation deleted",
            "content": {
              "application/json": {}
            }
          },
          "500": {
            "description": "Internal Server error"
          }
        }
      }
    },
    "/rest/api/assets/main-view/aggregated": {
      "get": {
        "tags": [
          "asset-controller"
        ],
        "summary": "Get all aggregated asset information",
        "operationId": "getAllAssets",
        "responses": {
          "200": {
            "description": "Assets found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Assets"
                }
              }
            }
          },
          "404": {
            "description": "Assets not found"
          },
          "500": {
            "description": "Internal Server error"
          }
        }
      }
    },
    "/rest/api/currencies": {
      "get": {
        "tags": [
          "currency-rest-contoller"
        ],
        "summary": "Get all currency types",
        "operationId": "getCurrencies",
        "responses": {
          "200": {
            "description": "Currency types found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CurrencyType"
                }
              }
            }
          },
          "404": {
            "description": "Currency types not found"
          },
          "500": {
            "description": "Internal Server error"
          }
        }
      }
    },
    "/rest/api/currencies/{currencyId}": {
      "get": {
        "tags": [
          "currency-rest-contoller"
        ],
        "summary": "Get currency type by typeId",
        "operationId": "getCurrenciesByID",
        "parameters": [
          {
            "name": "currencyId",
            "in": "path",
            "required": true,
            "schema": {
              "minimum": 0,
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Currency type found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CurrencyType"
                }
              }
            }
          },
          "404": {
            "description": "Currency type not found"
          },
          "500": {
            "description": "Internal Server error"
          }
        }
      }
    },
    "/rest/api/data": {
      "get": {
        "tags": [
          "data-rest-controller"
        ],
        "summary": "Get all data assets",
        "operationId": "getData",
        "responses": {
          "200": {
            "description": "Data  assets retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Data"
                }
              }
            }
          },
          "404": {
            "description": "No data assets found"
          },
          "500": {
            "description": "Internal Server error"
          }
        }
      },
      "put": {
        "tags": [
          "data-rest-controller"
        ],
        "summary": "Update a valid data asset",
        "operationId": "update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Data"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Data asset was successfully updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Data"
                }
              }
            }
          },
          "404": {
            "description": "Data asset not found"
          },
          "500": {
            "description": "Internal Server error"
          }
        }
      },
      "post": {
        "tags": [
          "data-rest-controller"
        ],
        "summary": "Insert a valid data asset",
        "operationId": "insert",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Data"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Data asset was successfully inserted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Data"
                }
              }
            }
          },
          "404": {
            "description": "Data asset cannot be empty"
          },
          "500": {
            "description": "Internal Server error"
          }
        }
      }
    },
    "/rest/api/data/assets": {
      "get": {
        "tags": [
          "data-rest-controller"
        ],
        "summary": "Get data asset by assetId",
        "operationId": "getByAssetID",
        "parameters": [
          {
            "name": "assetId",
            "in": "query",
            "required": true,
            "schema": {
              "minimum": 0,
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Data  asset found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Data"
                }
              }
            }
          },
          "404": {
            "description": "No data asset found"
          },
          "500": {
            "description": "Internal Server error"
          }
        }
      }
    },
    "/rest/api/data/types": {
      "get": {
        "tags": [
          "data-rest-controller"
        ],
        "summary": "Get data types",
        "operationId": "getDataTypes",
        "responses": {
          "200": {
            "description": "Data  types found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataType"
                }
              }
            }
          },
          "404": {
            "description": "No data types found"
          },
          "500": {
            "description": "Internal Server error"
          }
        }
      }
    },
    "/rest/api/data/types/{dataTypeId}": {
      "get": {
        "tags": [
          "data-rest-controller"
        ],
        "summary": "Get data types by typeId",
        "operationId": "getDataTypesPerID",
        "parameters": [
          {
            "name": "dataTypeId",
            "in": "path",
            "required": true,
            "schema": {
              "minimum": 0,
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Data  type found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataType"
                }
              }
            }
          },
          "404": {
            "description": "No data type found"
          },
          "500": {
            "description": "Internal Server error"
          }
        }
      }
    },
    "/rest/api/data/states": {
      "get": {
        "tags": [
          "data-rest-controller"
        ],
        "summary": "Get data states",
        "operationId": "getDataStates",
        "responses": {
          "200": {
            "description": "Data  states found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataStateType"
                }
              }
            }
          },
          "404": {
            "description": "No data states found"
          },
          "500": {
            "description": "Internal Server error"
          }
        }
      }
    },
    "/rest/api/data/states/{dataStateId}": {
      "get": {
        "tags": [
          "data-rest-controller"
        ],
        "summary": "Get data state by stateId",
        "operationId": "getDataStateByID",
        "parameters": [
          {
            "name": "dataStateId",
            "in": "path",
            "required": true,
            "schema": {
              "minimum": 0,
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Data  state found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CurrencyType"
                }
              }
            }
          },
          "404": {
            "description": "No data state found"
          },
          "500": {
            "description": "Internal Server error"
          }
        }
      }
    },
    "/rest/api/data/actions": {
      "get": {
        "tags": [
          "data-rest-controller"
        ],
        "summary": "Get data actions",
        "operationId": "getDataActionTypeAll",
        "responses": {
          "200": {
            "description": "Data  actions found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataAction"
                }
              }
            }
          },
          "404": {
            "description": "No data actions found"
          },
          "500": {
            "description": "Internal Server error"
          }
        }
      }
    },
    "/rest/api/data/actions/{actionId}": {
      "get": {
        "tags": [
          "data-rest-controller"
        ],
        "summary": "Get data action by actionTypeId",
        "operationId": "getDataActionType",
        "parameters": [
          {
            "name": "actionId",
            "in": "path",
            "required": true,
            "schema": {
              "minimum": 0,
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Data  action type found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CurrencyType"
                }
              }
            }
          },
          "404": {
            "description": "No data action type found"
          },
          "500": {
            "description": "Internal Server error"
          }
        }
      }
    },
    "/rest/api/data/gdpr-roles/{roleId}": {
      "get": {
        "tags": [
          "data-rest-controller"
        ],
        "summary": "Get GDPR role by roleId",
        "operationId": "getGDPRRoleType",
        "parameters": [
          {
            "name": "roleId",
            "in": "path",
            "required": true,
            "schema": {
              "minimum": 0,
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "GDPR Role found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GDPRRoleType"
                }
              }
            }
          },
          "404": {
            "description": "No data assets found"
          },
          "500": {
            "description": "Internal Server error"
          }
        }
      }
    },
    "/rest/api/data/gdpr-roles": {
      "get": {
        "tags": [
          "data-rest-controller"
        ],
        "summary": "Get GDPR roles",
        "operationId": "getGDPRRoleTypeAll",
        "responses": {
          "200": {
            "description": "Data  assets found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GDPRRoleType"
                }
              }
            }
          },
          "404": {
            "description": "No data assets found"
          },
          "500": {
            "description": "Internal Server error"
          }
        }
      }
    },
    "/rest/api/data/{dataId}/processors": {
      "delete": {
        "tags": [
          "data-rest-controller"
        ],
        "summary": "Delete a data processor",
        "operationId": "deleteProcessor",
        "parameters": [
          {
            "name": "dataId",
            "in": "path",
            "required": true,
            "schema": {
              "minimum": 0,
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Processor deleted"
          },
          "500": {
            "description": "Internal Server error"
          }
        }
      }
    },
    "/rest/api/data/{dataId}": {
      "get": {
        "tags": [
          "data-rest-controller"
        ],
        "summary": "Get data assets",
        "operationId": "findByID",
        "parameters": [
          {
            "name": "dataId",
            "in": "path",
            "required": true,
            "schema": {
              "minimum": 0,
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Data  assets found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Data"
                }
              }
            }
          },
          "404": {
            "description": "No data assets found"
          },
          "500": {
            "description": "Internal Server error"
          }
        }
      }
    },
    "/rest/api/data/{dataId}/training-scenarios/{tsId}": {
      "delete": {
        "tags": [
          "data-rest-controller"
        ],
        "summary": "Delete a data asset",
        "operationId": "delete",
        "parameters": [
          {
            "name": "dataId",
            "in": "path",
            "required": true,
            "schema": {
              "minimum": 0,
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "tsId",
            "in": "path",
            "required": true,
            "schema": {
              "minimum": 0,
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Data asset deleted"
          },
          "404": {
            "description": "Data not found"
          },
          "500": {
            "description": "Internal Server error"
          }
        }
      }
    },
    "/rest/api/data-fabrication": {
      "get": {
        "tags": [
          "cttp-data-fabrication-controller"
        ],
        "summary": "Get all DFPs",
        "operationId": "getDataFabricationModels",
        "responses": {
          "200": {
            "description": "DFPs found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CTTPDataFabricationModel"
                }
              }
            }
          },
          "404": {
            "description": "No DFP found"
          },
          "500": {
            "description": "Internal Server error"
          }
        }
      },
      "put": {
        "tags": [
          "cttp-data-fabrication-controller"
        ],
        "summary": "Update a valid data fabrication model",
        "operationId": "updateDataFabricationModel",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CTTPDataFabricationModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "DFP was successfully updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CTTPDataFabricationModel"
                }
              }
            }
          },
          "404": {
            "description": "DFP cannot be empty"
          },
          "500": {
            "description": "Internal Server error"
          }
        }
      },
      "post": {
        "tags": [
          "cttp-data-fabrication-controller"
        ],
        "summary": "Insert a valid data fabrication model",
        "operationId": "addDataFabricationModel",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CTTPDataFabricationModel"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "DFP was successfully inserted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CTTPDataFabricationModel"
                }
              }
            }
          },
          "404": {
            "description": "DFP cannot be empty"
          },
          "500": {
            "description": "Internal Server error"
          }
        }
      }
    },
    "/rest/api/data-fabrication/{dataFabricationId}": {
      "delete": {
        "tags": [
          "cttp-data-fabrication-controller"
        ],
        "summary": "Delete a Data Fabrication Model",
        "operationId": "deleteDataFabricationModel",
        "parameters": [
          {
            "name": "dataFabricationId",
            "in": "path",
            "required": true,
            "schema": {
              "minimum": 0,
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "DFP deleted"
          },
          "404": {
            "description": "DFP not found"
          },
          "500": {
            "description": "Internal Server error"
          }
        }
      }
    },
    "/rest/api/data-fabrication/main-view": {
      "get": {
        "tags": [
          "cttp-data-fabrication-controller"
        ],
        "summary": "Get all DFPs (main-view)",
        "operationId": "getMainViewDataFabricationModels",
        "responses": {
          "200": {
            "description": "DFPs found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DFMainView"
                }
              }
            }
          },
          "404": {
            "description": "No DFP found"
          },
          "500": {
            "description": "Internal Server error"
          }
        }
      }
    },
    "/rest/api/data-fabrication/training-scenario/{tsId}/available": {
      "get": {
        "tags": [
          "cttp-data-fabrication-controller"
        ],
        "summary": "Get all available DFPs (tsId)",
        "operationId": "getAvailableDataFabricationModels",
        "parameters": [
          {
            "name": "tsId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "DFPs found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CTTPDataFabricationModel"
                }
              }
            }
          },
          "404": {
            "description": "No DFP found"
          },
          "500": {
            "description": "Internal Server error"
          }
        }
      }
    },
    "/rest/api/data-fabrication/available": {
      "get": {
        "tags": [
          "cttp-data-fabrication-controller"
        ],
        "summary": "Get all available DFPs",
        "operationId": "getAllAvailableDataFabricationModels",
        "responses": {
          "200": {
            "description": "DFPs found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CTTPDataFabricationModel"
                }
              }
            }
          },
          "404": {
            "description": "No DFP found"
          },
          "500": {
            "description": "Internal Server error"
          }
        }
      }
    },
    "/rest/api/data-fabrication/training-scenario": {
      "get": {
        "tags": [
          "cttp-data-fabrication-controller"
        ],
        "summary": "Get DFP by trainingScenarioId",
        "operationId": "getDataFabricationByTrainingScenario",
        "parameters": [
          {
            "name": "tsId",
            "in": "query",
            "required": true,
            "schema": {
              "minimum": 0,
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "DFP found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CTTPDataFabricationModel"
                }
              }
            }
          },
          "404": {
            "description": "No DFP found"
          },
          "500": {
            "description": "Internal Server error"
          }
        }
      }
    },
    "/rest/api/data-fabrication/single/training-scenario": {
      "get": {
        "tags": [
          "cttp-data-fabrication-controller"
        ],
        "summary": "Get a single DFP by trainingScenarioId",
        "operationId": "getDataFabricationOne",
        "parameters": [
          {
            "name": "tsId",
            "in": "query",
            "required": true,
            "schema": {
              "minimum": 0,
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "DFP found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CTTPDataFabricationModel"
                }
              }
            }
          },
          "404": {
            "description": "No DFP found"
          },
          "500": {
            "description": "Internal Server error"
          }
        }
      }
    },
    "/rest/api/data-fabrication/{dataFabricationID}": {
      "get": {
        "tags": [
          "cttp-data-fabrication-controller"
        ],
        "summary": "Get DFP by its id",
        "operationId": "getDataFabrication",
        "parameters": [
          {
            "name": "dataFabricationID",
            "in": "path",
            "required": true,
            "schema": {
              "minimum": 0,
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "DFP found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CTTPDataFabricationModel"
                }
              }
            }
          },
          "404": {
            "description": "No DFP found"
          },
          "500": {
            "description": "Internal Server error"
          }
        }
      }
    },
    "/rest/api/emulation": {
      "get": {
        "tags": [
          "cttp-emulation-controller"
        ],
        "summary": "Get all Emulation Models",
        "operationId": "getEmulations",
        "responses": {
          "200": {
            "description": "Emulation models found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CTTPEmulationModel"
                }
              }
            }
          },
          "404": {
            "description": "No Emulation models found"
          },
          "500": {
            "description": "Internal Server error"
          }
        }
      },
      "put": {
        "tags": [
          "cttp-emulation-controller"
        ],
        "summary": "Update a valid emulation model",
        "operationId": "updateEmulationModel",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CTTPEmulationModel"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "DFP was successfully inserted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CTTPEmulationModel"
                }
              }
            }
          },
          "404": {
            "description": "DFP cannot be empty"
          },
          "500": {
            "description": "Internal Server error"
          }
        }
      },
      "post": {
        "tags": [
          "cttp-emulation-controller"
        ],
        "summary": "Insert a valid emulation model",
        "operationId": "addEmulationModel",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CTTPEmulationModel"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Emulation was successfully inserted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CTTPEmulationModel"
                }
              }
            }
          },
          "404": {
            "description": "Emulation cannot be empty"
          },
          "500": {
            "description": "Internal Server error"
          }
        }
      }
    },
    "/rest/api/emulation/{emulationModeId}": {
      "delete": {
        "tags": [
          "cttp-emulation-controller"
        ],
        "summary": "Delete an Emulation Model",
        "operationId": "deleteEmulationModel",
        "parameters": [
          {
            "name": "emulationModeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Emulation model deleted"
          },
          "404": {
            "description": "Emulation not found"
          },
          "500": {
            "description": "Internal Server error"
          }
        }
      }
    },
    "/rest/api/emulation/custom-vm-names": {
      "get": {
        "tags": [
          "cttp-emulation-controller"
        ],
        "summary": "Get all Custom VM names",
        "operationId": "getEmulationNames",
        "responses": {
          "200": {
            "description": "Emulation models found"
          },
          "404": {
            "description": "No Emulation models found"
          },
          "500": {
            "description": "Internal Server error"
          }
        }
      }
    },
    "/rest/api/emulation/main-view": {
      "get": {
        "tags": [
          "cttp-emulation-controller"
        ],
        "summary": "Get all Emulation Models for main view",
        "operationId": "getEmulationsMainView",
        "responses": {
          "200": {
            "description": "Emulation models found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmulationMainView"
                }
              }
            }
          },
          "404": {
            "description": "No Emulation models found"
          },
          "500": {
            "description": "Internal Server error"
          }
        }
      }
    },
    "/rest/api/emulation/training-scenario/{tsId}/available": {
      "get": {
        "tags": [
          "cttp-emulation-controller"
        ],
        "summary": "Get all available Emulation Model (tsId)",
        "operationId": "getAvailableEmulations",
        "parameters": [
          {
            "name": "tsId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Emulation models found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CTTPEmulationModel"
                }
              }
            }
          },
          "404": {
            "description": "No Emulation models found"
          },
          "500": {
            "description": "Internal Server error"
          }
        }
      }
    },
    "/rest/api/emulation/available": {
      "get": {
        "tags": [
          "cttp-emulation-controller"
        ],
        "summary": "Get all available Emulation Models",
        "operationId": "getAllAvailableEmulations",
        "responses": {
          "200": {
            "description": "Emulation models found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CTTPEmulationModel"
                }
              }
            }
          },
          "404": {
            "description": "No Emulation models found"
          },
          "500": {
            "description": "Internal Server error"
          }
        }
      }
    },
    "/rest/api/emulation/training-scenario/{tsId}/xml": {
      "get": {
        "tags": [
          "cttp-emulation-controller"
        ],
        "summary": "Get an Emulation Model by trainingScenarioId (in an xml format)",
        "operationId": "getEmulationModelInXMLFormat",
        "parameters": [
          {
            "name": "tsId",
            "in": "path",
            "required": true,
            "schema": {
              "minimum": 0,
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Emulation model found",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/CTTPEmulationModel"
                }
              }
            }
          },
          "404": {
            "description": "No Emulation model found"
          },
          "500": {
            "description": "Internal Server error"
          }
        }
      }
    },
    "/rest/api/emulation/{emulationID}/xml": {
      "get": {
        "tags": [
          "cttp-emulation-controller"
        ],
        "summary": "Get an Emulation Model by its id (in an xml format)",
        "operationId": "getXMLEmulation",
        "parameters": [
          {
            "name": "emulationID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Emulation model found",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/CTTPEmulationModel"
                }
              }
            }
          },
          "404": {
            "description": "No Emulation model found"
          },
          "500": {
            "description": "Internal Server error"
          }
        }
      }
    },
    "/rest/api/emulation/training-scenario": {
      "get": {
        "tags": [
          "cttp-emulation-controller"
        ],
        "summary": "Get all Emulation Models by trainingScenarioId",
        "operationId": "getEmulationModel",
        "parameters": [
          {
            "name": "tsId",
            "in": "query",
            "required": true,
            "schema": {
              "minimum": 0,
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Emulation model found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CTTPEmulationModel"
                }
              }
            }
          },
          "404": {
            "description": "No Emulation model found"
          },
          "500": {
            "description": "Internal Server error"
          }
        }
      }
    },
    "/rest/api/emulation/single/training-scenario": {
      "get": {
        "tags": [
          "cttp-emulation-controller"
        ],
        "summary": "Get a single Emulation Model by trainingScenarioId",
        "operationId": "getSingleEmulationModel",
        "parameters": [
          {
            "name": "tsId",
            "in": "query",
            "required": true,
            "schema": {
              "minimum": 0,
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Emulation model found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CTTPEmulationModel"
                }
              }
            }
          },
          "404": {
            "description": "No Emulation model found"
          },
          "500": {
            "description": "Internal Server error"
          }
        }
      }
    },
    "/rest/api/emulation/{emulationId}": {
      "get": {
        "tags": [
          "cttp-emulation-controller"
        ],
        "summary": "Get an Emulation Model by its id",
        "operationId": "getEmulation",
        "parameters": [
          {
            "name": "emulationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Emulation model found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CTTPEmulationModel"
                }
              }
            }
          },
          "404": {
            "description": "No Emulation model found"
          },
          "500": {
            "description": "Internal Server error"
          }
        }
      }
    },
    "/rest/api/emulation/per-operating-system/total": {
      "get": {
        "tags": [
          "cttp-emulation-controller"
        ],
        "summary": "Count Emulation Model by OS",
        "operationId": "getEmulationPerOS",
        "responses": {
          "200": {
            "description": "Emulation model found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmulationModelsPerOperatingSystem"
                }
              }
            }
          },
          "404": {
            "description": "No Emulation model found"
          },
          "500": {
            "description": "Internal Server error"
          }
        }
      }
    },
    "/rest/api/serious-game/awareness-quiz/mode/{aqmId}": {
      "get": {
        "tags": [
          "cttp-gamification-controller"
        ],
        "summary": "Get Awareness Quiz Mode",
        "operationId": "getAQMode",
        "parameters": [
          {
            "name": "aqmId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Awareness Quiz Mode found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AwarenessQuizMode"
                }
              }
            }
          },
          "404": {
            "description": "No Awareness Quiz Mode found"
          },
          "500": {
            "description": "Internal Server error"
          }
        }
      }
    },
    "/rest/api/serious-game/game-type/total": {
      "get": {
        "tags": [
          "cttp-gamification-controller"
        ],
        "summary": "Get Serious Game per Game Type",
        "operationId": "getSGPerType",
        "responses": {
          "200": {
            "description": "Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GamificationPerGameType"
                }
              }
            }
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal Server error"
          }
        }
      }
    },
    "/rest/api/serious-game/game-types/{gtId}": {
      "get": {
        "tags": [
          "cttp-gamification-controller"
        ],
        "summary": "Get a Serious Game Type (by its id)",
        "operationId": "getGameType",
        "parameters": [
          {
            "name": "gtId",
            "in": "path",
            "required": true,
            "schema": {
              "minimum": 0,
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Serious Game Type found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CTTPGamificationModel"
                }
              }
            }
          },
          "404": {
            "description": "No Serious Game Type found"
          },
          "500": {
            "description": "Internal Server error"
          }
        }
      }
    },
    "/rest/api/serious-game": {
      "get": {
        "tags": [
          "cttp-gamification-controller"
        ],
        "summary": "Get all Serious Game Models",
        "operationId": "getSeriousGameModels",
        "responses": {
          "200": {
            "description": "Serious Game model found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CTTPGamificationModel"
                }
              }
            }
          },
          "404": {
            "description": "No Serious Game model found"
          },
          "500": {
            "description": "Internal Server error"
          }
        }
      },
      "put": {
        "tags": [
          "cttp-gamification-controller"
        ],
        "summary": "Update a serious-game model",
        "operationId": "updateGamificationModel",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CTTPGamificationModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Gamification Model inserted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CTTPGamificationModel"
                }
              }
            }
          },
          "404": {
            "description": "Gamification Model  not found"
          },
          "500": {
            "description": "Internal Server error"
          }
        }
      },
      "post": {
        "tags": [
          "cttp-gamification-controller"
        ],
        "summary": "Insert a serious-game model",
        "operationId": "addGamificationModel",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CTTPGamificationModel"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Gamification Model inserted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CTTPGamificationModel"
                }
              }
            }
          },
          "404": {
            "description": "CTTPGamificationModel  not found"
          },
          "500": {
            "description": "Internal Server error"
          }
        }
      }
    },
    "/rest/api/serious-game/{gmId}": {
      "get": {
        "tags": [
          "cttp-gamification-controller"
        ],
        "summary": "Get a single Serious Game Model by its id",
        "operationId": "getSeriousGameById",
        "parameters": [
          {
            "name": "gmId",
            "in": "path",
            "required": true,
            "schema": {
              "minimum": 0,
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Serious Game model found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CTTPGamificationModel"
                }
              }
            }
          },
          "404": {
            "description": "No Serious Game model found"
          },
          "500": {
            "description": "Internal Server error"
          }
        }
      },
      "delete": {
        "tags": [
          "cttp-gamification-controller"
        ],
        "summary": "Delete a serious game Model",
        "operationId": "deleteSeriousGameModel",
        "parameters": [
          {
            "name": "gmId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Gamification model deleted"
          },
          "404": {
            "description": "Gamification not found"
          },
          "500": {
            "description": "Internal Server error"
          }
        }
      }
    },
    "/rest/api/serious-game/main-view": {
      "get": {
        "tags": [
          "cttp-gamification-controller"
        ],
        "summary": "Get all Serious Game Models (main-view)",
        "operationId": "getSeriousGameModelsMainView",
        "responses": {
          "200": {
            "description": "Serious Game model found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GamificationMainView"
                }
              }
            }
          },
          "404": {
            "description": "No Serious Game model found"
          },
          "500": {
            "description": "Internal Server error"
          }
        }
      }
    },
    "/rest/api/serious-game/training-scenario/{tsId}/available": {
      "get": {
        "tags": [
          "cttp-gamification-controller"
        ],
        "summary": "Get all available Serious Game Models (tsId)",
        "operationId": "getAvailableSeriousGameModels",
        "parameters": [
          {
            "name": "tsId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Serious Game model found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CTTPGamificationModel"
                }
              }
            }
          },
          "404": {
            "description": "No Serious Game model found"
          },
          "500": {
            "description": "Internal Server error"
          }
        }
      }
    },
    "/rest/api/serious-game/available": {
      "get": {
        "tags": [
          "cttp-gamification-controller"
        ],
        "summary": "Get all available Serious Game Models",
        "operationId": "getAllAvailableSeriousGameModels",
        "responses": {
          "200": {
            "description": "Serious Game model found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CTTPGamificationModel"
                }
              }
            }
          },
          "404": {
            "description": "No Serious Game model found"
          },
          "500": {
            "description": "Internal Server error"
          }
        }
      }
    },
    "/rest/api/serious-game/training-scenario": {
      "get": {
        "tags": [
          "cttp-gamification-controller"
        ],
[...]
